@charset "utf-8";

.newnew{
    position: absolute;
    top:16px;
    left:0;
    background:Crimson;
    color:white;
    width:60px;
    height:24px;
    text-align:center;
}
.cleanbeauty{
    background-color:#f9be7a;
    color:white;
    width:100px;
    text-align:center;
}
.vegan{
    background-color: darkseagreen ;
    color:white;
    width:50px;
    text-align:center;
}

.smalltop{
    color:#fff;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size:24px;
    text-align:center;
}

.indeximage{
      margin:auto;
}

.indexin{
    background-image: url(/images/indexdescription.webp);
    height:500px;
    background-color: #f8003d;
    
}

.indexinin{
    padding-top:100px;
    padding-right:30px;
    padding-left:30px;
    color:#fff;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px; 
    line-height: 45px;
    
}
.indexininxs{
    padding-top:70px;
    padding-right:30px;
    padding-left:30px;
    color:#fff;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px; 
    line-height: 36px;
    
}
.indexformula{
    transition: .3s;
    border-bottom-style:solid;
    border-bottom-color: #f8003d;
}
.indexformula:hover{
    opacity:0.5 ;    
}
.indexformulaword{
     padding-top:60px;
    padding-right:30px;
    padding-left:30px;
    color:black;
    font-family: 'Lato', sans-serif;
    font-size:18px;
    letter-spacing: 1px; 
    line-height: 24px;
}

.indexformulawordsx{
    padding-top:10px;
    padding-bottom: 10px;
    color:black;
    font-family: 'Lato', sans-serif;
    font-size:14px;
    letter-spacing: 1px; 
    line-height: 16px;
    
    
}

.indexpacking{
    transition: .3s;
    border-bottom-style:solid;
    border-bottom-color: #f8003d;
}
.indexpacking:hover{
    opacity:0.5 ;    
}

.indexnewsb{
    color:white;
    text-align:center;
    background-color: #f8003d;
}

.indexnews{
    padding-top:20px;
    padding-bottom:20px;
    font-family: 'Lato', sans-serif;
    border-bottom-style:solid;
    border-bottom-color: #f8003d;
    border-right: solid #f8003d 1px;
    border-left: solid #f8003d 1px;
    
}

.indexnews:hover{
   opacity:0.5 ;    
}
.indexslogan{
    padding-top:230px;
    padding-bottom: 150px;
    font-family: 'Pattaya', sans-serif;
    font-size: 50px;
    color:#f8003d;
    letter-spacing: 2px;
    line-height: 18px;
    padding-left: 300px;
    white-space:nowrap;
    background-image: url(/images/indexslogan.webp);
    height:439px;
}
.indexsloganxs{
    padding-top:80px;
    padding-bottom: 80px;
    font-family: 'Pattaya', sans-serif;
    font-size: 38px;
    letter-spacing: 2px;
    line-height: 12px;
    color:white;
    text-align:center;
    white-space:nowrap;
    background-color: #f8003d;

}

.backtotop{
    padding-top:3px;
    padding-bottom:3px;
    font-family: 'Lato', sans-serif;
    text-align:center;
    background-color: #f8003d;
}

#gototop {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: solid; /* Remove borders */
  border-color:white;
  outline: none; /* Remove outline */
  background-color: #f8003d; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#gototop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.indexfooter{
    background:linear-gradient(#FF7500, #F8003D, #F93677)
    
}
.indexfootername{
    padding-top:15px;
    padding-bottom:15px;
    color:white;
    font-family: 'Lato', sans-serif;
    font-family: Microsoft JhengHei;
    letter-spacing: 2px;
}
.indexfooternamexs{
    padding-top:15px;
    padding-bottom:15px;
    color:white;
    font-family: 'Lato', sans-serif;
    font-family: Microsoft JhengHei;
    letter-spacing: 2px;
    border-bottom:solid;
    border-width: thin;
    line-height: 24px;
}
.indexfooterinfo{
    padding-top:10px;
    padding-bottom:15px;
    color:white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    
}
.indexfooterinfoxs{
    padding-top:10px;
    padding-bottom:15px;
    color:white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    border-bottom:solid;
    border-width: thin;
    
}

.aboutleft{
    color:red
}
.aboutwordh1{
    color:red;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.aboutimage{
    margin:auto;
}

.aboutinner{
    font-family: 'Lato', sans-serif;
    letter-spacing:0.5px;
    line-height: 30px;
    
}
.aboutinnerc{
    font-family: Microsoft JhengHei;
    letter-spacing:1px;
    
}
.serviceQA{
    font-family: 'Lato', sans-serif;
    background-color: #fe6805;
    color:white;
    letter-spacing:1px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
}
.serviceQAsmall{
    font-family: 'Lato', sans-serif;
    background-color: #f1825c;
    color:white;
    letter-spacing:1px;
    line-height:18px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.FOh3{
    font-family: 'Lato', sans-serif , bold;
    color:#f8003d;
}

.eyeshaodoword{
    font-family: 'Lato', sans-serif , bold;
    color:#f8003d;
    text-align:center;
}

.contactslogan{
    padding-top:100px;
    padding-bottom: 20px;
    font-family: 'Spectral', serif;
    font-size: 40px;
    text-align:center;
    color:#f8003d;
    letter-spacing: 2px;
    line-height: 18px;
    white-space:nowrap;
    height:200px;
}
.contactsloganxs{
    padding-top:80px;
    padding-bottom: 80px;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 12px;
    color:#f8003d;
    text-align:center;
    white-space:nowrap;

}
.foundation{
    color:red;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    text-align:center;
}

.twsmalltop{
    color:#fff;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size:20px;
    text-align:center;
}

.twindexinin{
    padding-top:100px;
    padding-right:30px;
    padding-left:30px;
    color:#fff;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 2px; 
    line-height: 36px;
    
}
.twindexininxs{
    padding-top:80px;
    padding-right:30px;
    padding-left:30px;
    color:#fff;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: px; 
    line-height: 40px; }
    
.twindexformulaword{
     padding-top:60px;
    padding-right:30px;
    padding-left:30px;
    color:black;
   font-family: Microsoft JhengHei;
    font-size:21px;
    letter-spacing: 1px; 
    line-height: 30px;
}

.twindexformulawordsx{
    padding-top:10px;
    padding-bottom: 10px;
    color:black;
    font-family: Microsoft JhengHei;
    font-size:14px;
    letter-spacing: 1px; 
    line-height: 16px;
}

.twindexcontainerword{
     padding-top:70px;
    padding-right:30px;
    padding-left:30px;
    color:black;
   font-family: Microsoft JhengHei;
    font-size:21px;
    letter-spacing: 1px; 
    line-height: 30px;
}

.twindexnewsb{
    color:white;
    text-align:center;
    background-color: #f8003d;
    font-family: Microsoft JhengHei;
}

.twindexnews{
    padding-top:20px;
    padding-bottom:20px;
    font-family: Microsoft JhengHei;
    border-bottom-style:solid;
    border-bottom-color: #f8003d;
    border-right: solid #f8003d 1px;
    border-left: solid #f8003d 1px;
    
}

.twindexfootername{
    padding-top:15px;
    padding-bottom:15px;
    color:white;
    font-family: 'Lato', sans-serif;
    font-family: Microsoft JhengHei;
    letter-spacing: 2px;
}
.twindexfooternamexs{
    padding-top:15px;
    padding-bottom:15px;
    color:white;
    font-family: 'Lato', sans-serif;
    font-family: Microsoft JhengHei;
    letter-spacing: 2px;
    border-bottom:solid;
    border-width: thin;
}
.twindexfooterinfo{
    padding-top:10px;
    padding-bottom:15px;
    color:white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    
}

.twindexfooterinfoxs{
    padding-top:10px;
    padding-bottom:15px;
    color:white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    
}

.twaboutwordh1{
    color:red;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 1px;
}

.twaboutinner{
    font-family: Microsoft JhengHei;
    letter-spacing:1px;
    line-height: 30px;
    color:#696969;
    
}
.twserviceQA{
   font-family: 'Noto Serif TC', serif;
    background-color: #fe6805;
    color:white;
    letter-spacing:1px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
}
.twserviceQAsmall{
    font-family: Microsoft JhengHei;
    background-color: #f1825c;
    color:white;
    letter-spacing:1px;
    line-height:24px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.twFOh3{
    font-family: Microsoft JhengHei;
    color:#f8003d;
}

#loader {
          background-image:url(/images/loading.gif);
          background-position: center center;
          background-repeat: no-repeat;
          height: 120px;
          left: 50%;
          margin: -100px 0 0 -50px;
          position: absolute;
          top: 50%;
          width: 120px;
        }

        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

        /* Add animation to "page content" */
        .animate-bottom {
          position: relative;
          -webkit-animation-name: animatebottom;
          -webkit-animation-duration: 1s;
          animation-name: animatebottom;
          animation-duration: 1.5s
        }

        @-webkit-keyframes animatebottom {
          from { bottom:-100px; opacity:0 } 
          to { bottom:0px; opacity:1 }
        }

        @keyframes animatebottom { 
          from{ bottom:-100px; opacity:0 } 
          to{ bottom:0; opacity:1 }
        }
